body{
    background-color: #FBEC5D;
}

h1 {
    font-weight: bolder;
    font-size: 50px;
}

h2 {
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
    color:blueviolet;
}

p {
    font-family: Helvetica;
}

ul{
    list-style-type: disc;
}

img {
    width: 300px;
    border: 5px solid #4f4cf7;
}

div.step3 {
    background-color: white;
}

ul {
    list-style-type: square;
}